/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
body {
  background: #f4f4f2;
}

.sections .title {
  padding: 15px;
  border-bottom: 1px solid #f4f4f2;
  font-size: 20px;
  font-weight: 600;
}

.sections .content {
  padding: 15px;
}

.logo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left:30px;
}

.checkboxInline {
  margin-bottom: 0.8rem !important;
}

.MenuBarBtn {
      background: #0071ea;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 0;
        height: 100%;
    display: flex;
    align-items: center;
    min-width: 50px;
}
.MenuBarBtn i{
  text-align: center; margin: 0 auto;
}
header {
  padding: 10px 15px;
  background: #007bff;
  color: #fff; position: fixed; width:100%; z-index: 999; top:0;
}

.sidebar {
  display: none;
  background:#0071ea;
  color: #fff; position: fixed; width:100%; z-index: 999;     top: 44px;
    max-width: 200px;
    height: 100%;
}
.Menu.active .body-content{
    margin-left:200px;
}
.Menu.active .sidebar{
    display: block !important;
}
.sidebar ul{
 list-style: none; padding: 0;   
}
.sidebar ul li{
    display: block;
}
.sidebar ul li a{
       border-bottom: 1px solid #006ce0;
    padding: 5px 10px;
    width: 100%;
    display: block;
    color: #fff;
}
.sidebar ul li a:hover,.sidebar ul li a.active{
    background: #0164ce;
    text-decoration: none;
}
.Menu.active .MenuBarBtn .fa-cogs:before{
    content: "\f00d" !important;
}

.floatingForm .form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  padding-left: 0;
  z-index: 1;
  background-color: transparent;
}

.floatingForm textarea {
  border-width: 1px 1px 1px 1px !important;
  min-height: 100px;
}

.floatingForm .floating-label {
  position: absolute;
  z-index:-1;
  transition: 0.2s;
  top: 5px;
}

.floatingForm .form-control:focus + .floating-label, .floatingForm .form-control:not(:focus):valid ~ .floating-label {
  top: -9px;
  font-size: 10px;
  color: #213ea7;
}

.floatingForm .form-group {
  margin-bottom: 25px;
}
.btn{
  text-transform: uppercase;
}
.modal-header{
    background: #a8c2d9; border-bottom: #a8c2d9;
    font-weight: 600;
}
.loginBlock{
    background:#000 url('assets/images/background.jpg') no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover; position: fixed;
    z-index:1;
}
.loginBlock .login{
        max-width: 350px;
    background: #fff;
    padding: 20px 20px 25px 20px;
    width: 100%;
    margin: 0;
    right: 0;
    position: fixed;
    height: 100%;
    z-index: 2;
}