<form class="example-container" [formGroup]="orderForm">
    <div class="example-container">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Table Name" formControlName="tableName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addItem()">Add Column</button>
        <button mat-raised-button color="primary" (click)="submitTable()">Submit</button>

    </div>
    <div class="columns" #dynamiColumn>
        <div class="column">
            <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="name" placeholder="Column Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="type" placeholder="Data Type">
                            <mat-option *ngFor="let data of dataType" value="data">{{data}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox formControlName="isMandatory" style="padding-right: 20px;padding-left: 20px"> Not Null </mat-checkbox>
                    <mat-checkbox formControlName="isPrimary"> is ID </mat-checkbox>
                </div>

            </div>
        </div>
    </div>
    Chosen name: {{ orderForm.value|json }}
</form>