<div class="header">
    <div class="title">
        <span>API PROVIDER</span>
    </div>
    <div class="headerRight">

    </div>
</div>
<div class="content">
    <form class="example-container" [formGroup]="appForm">
        <div class="example-container">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Application Name" formControlName="appName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Package Name" formControlName="packageName">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="generate()">Generate App</button>
            <button mat-raised-button color="primary" (click)="download()">Download App</button>
        </div>
    </form>
    <button mat-raised-button color="primary" (click)="openDialog()">Add Table</button>
</div>