<section class="bg-white p-3 mb-3">
    <div class="row">
        <div class="col-6 form-inline">
            <label class="pr-2">Application Name :</label>
            <input type="text" class="form-control mr-2" [(ngModel)]="appModel.appName" />
        </div>
        <div class="col-6 text-right">
            <div class="btn-group">
                <button type="button" class="edit btn btn-outline-secondary" data-toggle="modal" data-target="#edit" (click)="addForm()"
                   title="Add Table"><i class="fas fa-plus-square"></i></button>
                <button type="button" class="btn btn-outline-secondary" (click)="saveLocal()" title="save Files"><i class="far fa-save"></i></button>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#relationship" title="Relationship"><i class="fas fa-link"></i></button>
                <button type="button" class="btn btn-outline-secondary" (click)="build()" title="Build"><i class="fab fa-simplybuilt"></i></button>
                <a class="btn btn-outline-secondary"  title="Download Files" href="/api/download?fileName={{appModel.appName}}"><i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>

</section>
<section class="clearfix">
    <div class="reports">
        <!--Card Start-->
        <div class="row mb-3">
            <div class="col-sm-4 pb-4" *ngFor="let entity of appModel.entites">
                <div class="card position-relative rounded-0">
                    <div class="card-body">
                        <a class="edit" title="Edit" data-toggle="modal" data-target="#edit" (click)="editForm(entity)"><i class="far fa-edit"></i></a>
                        <a class="delete" title="Delete" (click)="deleteEntity(entity)"><i class="far fa-window-close"></i></a>
                        <h3>{{entity.name}}</h3>
                        <table class="table table-bordered">
                            <tr *ngFor="let column of entity.columns">
                                <td>{{column.name}}</td>
                                <td>{{column.type}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!--Card end-->
    </div>
     <!-- <p>{{appModel|json}}</p>  -->
</section>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="entityForm">
            <div class="modal-content rounded-0">
                <div class="modal-header rounded-0">
                    {{formMode}} Table Details
                </div>
                <div class="modal-body">
                    <div class="form-inline mb-2">
                        <label class="mr-2">Table Name:</label>
                        <input type="text" class="form-control mr-2" id="exampleInputPassword1" formControlName="name" placeholder="Table Name">
                        <button type="button" class="btn btn-primary" (click)="addItem()">Add Column</button>
                    </div>
                    <div class="position-relative my-2 AddDynamicColmn" formArrayName="columns" *ngFor="let column of entityForm.get('columns').controls; let col = index;">
                        <div class="row" [formGroupName]="col">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="name" placeholder="Column Name">
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="type" placeholder="Data Type">
                                        <option *ngFor="let dataType of dataTypes" [value]="dataType">{{dataType}}</option>
                                    </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-inline mb-1 mt-1">
                                    <div class="form-check pr-4">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="mandatory">
                                        <label class="form-check-label" for="exampleCheck1">Nullable</label>
                                    </div>
                                    <div class="form-check pr-4">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="primary">
                                        <label class="form-check-label" for="exampleCheck1">Primary Key</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="autoGen">
                                        <label class="form-check-label" for="exampleCheck1">Auto Gene</label>
                                    </div>
                                    <a class="close" (click)="remove(col)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p>{{entityForm.value|json}}</p> -->
                </div>
                <div class="modal-footer rounded-0">
                    <button type="button" #saveBtn class="btn btn-secondary" data-dismiss="modal" (click)="save()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="relationship" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="relationForm">
            <div class="modal-content rounded-0">
                <div class="modal-header rounded-0">
                    Relation Table Details
                </div>
                <div class="modal-body">
                    <div class="form-inline mb-2">
                        <label class="mr-2">Relation Type:</label>
                        <select class="form-control mr-2" formControlName="type">
                            <option>ONETOONE</option>
                            <option>ONETOMANY</option>
                            <option>MANYTOONE</option>
                            <option>MANYTOMANY</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="position-relative my-2 AddDynamicColmn">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select class="form-control mr-2" formControlName="sourceTable" (change)="sourceTableChange($event.target.value)">
                                            <option *ngFor="let table of appModel.entites" [value]="table.name">{{table.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control mr-2" formControlName="sourceColumn" >
                                        <option *ngFor="let column of sourceColumns" [value]="column">{{column}}</option>
                                       </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="position-relative my-2 AddDynamicColmn">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select class="form-control mr-2" formControlName="targetTable" (change)="targetTableChange($event.target.value)">
                                            <option *ngFor="let table of appModel.entites" [value]="table.name">{{table.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control mr-2" formControlName="targetColumn">
                                        <option *ngFor="let column of targetColumns" [value]="column">{{column}}</option>
                                       </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer rounded-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="saveRelation()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
            </div>
            <!-- <p>{{relationForm.value|json}}</p> -->
        </form>
    </div>
</div>