.loginBlock{
    background:#000 url('assets/images/background.jpg') no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover; position: fixed;
     z-index:1;
}
.loginBlock .login{
        max-width: 350px;
    background: #fff;
    padding: 20px 20px 25px 20px;
    width: 100%;
    margin: 0;
    right: 0;
    position: fixed;
    height: 100%;
    z-index: 2;
}