<section class="loginBlock">
  <div class="login">
    <form class="floatingForm">
      <div class="form-group position-relative">
        <input type="text" class="form-control relative" required="">
        <label class="floating-label">User Name<sup>*</sup></label>
      </div>
      <div class="form-group position-relative">
        <input type="text" class="form-control relative" required="">
        <label class="floating-label">Password<sup>*</sup></label>
      </div>
      <a class="btn btn-primary" routerLink="/user/home">SIGNIN</a>
      <a class="btn btn-primary" routerLink="/signup">SIGNUP</a>
  </form>
  </div>
</section>